
body {
  text-align: center;
  background-color: #3f3f44;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.6rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  position: relative;
  display: block;
  height: 448px;
  width: 448px;
  margin: auto;
  align-items: center;
  background-color: #000;
  border-radius: 100%;
}
.btn{
  display: inline-block;
  align-items: center;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  text-align: center;
  cursor: pointer;
  
}
.btn.green {
  border-top-left-radius: 100%;
  background-color: green;
}
.btn.red {
  border-top-right-radius: 100%;
  background-color: red;
}
.btn.yellow {
  border-bottom-left-radius: 100%;
  background-color: yellow;
}
.btn.blue {
  border-bottom-right-radius: 100%;
  background-color: blue;
}
.middle {
  position: absolute;
  bottom: 22%;
  left: 22%;
  height: 250px;
  width: 250px;
  background-color: #000;
  border-radius: 100%;
  color: white;
  font-family: 'Ultra', serif;
  font-size: 46px; 
  text-align:center;
  z-index: 100;
}
.middle p{
  margin: 50px auto 6px;
}
.start-btn {
  color: white;
  background-color: black;
  outline: 0;
  padding: 12px 24px;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
}

.start-btn:active {
  transform: scale(0.95);
}

.start-btn:focus {
  box-shadow: 0px 0px 10px rgb(171, 223, 230);
}

.game-over {
  background-color: red;
  opacity: 0.8;
}
.pressed {
  box-shadow: 0 0 5px white;
  background-color: grey;
}
